{% if page.footer_top or page.footer_content or page.footer_copyright %}
    <footer class="bg-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    {% if page.footer_top_left %}
                        <div class="col-md-3 logo-footer">
                            {{ page.footer_top_left }}
                        </div>
                    {% endif %}
                    {% if page.footer_top_right %}
                        <div class="col-md-9 info-contact">
                            <div class="row">
                                {{ page.footer_top_right }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    {% if page.footer_content %}
                        {{ page.footer_content }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="border-top">
                    <div class="row">
                        {% if page.footer_copyright %}
                            {{ page.footer_copyright }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endif %}