{% if page.footer_top or page.footer_content or page.footer_copyright %}
    <footer class="bg-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    {% if page.footer_top %}
                        {{ page.footer_top }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    {% if page.footer_content %}
                        {{ page.footer_content }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="border-top">
                    <div class="row">
                        {% if page.footer_copyright %}
                            {{ page.footer_copyright }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endif %}