<nav class="navbar navbar-expand-lg">
    <div class="container">
        {% if page.system_branding %}
            {{ page.system_branding }}
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {% if page.main_menu %}
                {{ page.main_menu }}
            {% endif %}
        </div>
    </div>
</nav>